<!DOCTYPE html>
<html>
<head>
  <title><%= @title -%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, val| -%>
  <div class="flash" id="<%= key -%>">
    <% if(val.class == Array) -%>
      <%= render(:partial => "parts/errors", :locals => {:error_msg => val || []} ) -%> 
    <% else -%>
      <%= val -%> 
    <% end -%> 
  </div>
<% end -%> 

<h1><%= link_to "Ticketee", root_path %></h1>

<%= yield %>

</body>
</html>
